body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: transparent;
    color: #000;
  }
  
  .game-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  
  .game-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 1px 1px 0 black, 2px 2px 0 black;
    -webkit-text-stroke: 1px black; /* Adds a black outline */
    font-weight: bold; 
  }
  
  
  .input-group input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #100f0f;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .input-group button {
    padding: 10px 20px;
    background: #ffffff;
    color: #000;
    border: 2px solid #000;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 4px 4px 0 #000;
    transition: 0.2s ease;
  }
  
  .input-group button:hover {
    background: #f0f0f0;
  }
  
  .message {
    margin-top: 20px;
    font-size: 1rem;
    color: #333;
  }
  
  .help-icon {
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  
  